
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteCart</title>
</head>
<body>
    <h3>Košarica očišćena !</h3>
    <br />
    <a href="/Product/Show2">Kreni s kupnjom</a><br />
                                             <a href="/Home/Index">Početna</a>
</body>
</html>
