
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ItemAdded</title>
</head>
<body>
    <h3 style="color:maroon">Artikal spremljen u košarici !</h3>
    <br />
    <a href="/Product/Show2">Natrag na dodavanje artikala</a><br />
    <a href="/Cart/LookInCart">Pogledaj košaricu !</a>
</body>
</html>
