@using OnlineShopPodaci.Model;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model List<OnlineShop.ViewModels.LookInCartVM>

<body>
    <h2 style="color:maroon">Košarica</h2> <br />
   
    <div border="1" id="tabela">

    </div> 
</body>

<script>

        $.get("/Cart/GetCartItems", function (res) {
            $("#tabela").html(res);
        });

</script>