
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoveFromCart</title>
</head>
<body>
    <h3 style="color:maroon">Proizvod uklonjen iz košarice !</h3><br />
                                                                 <a href="/Cart/LookInCart">Povratak u košaricu</a>
    
</body>
</html>
