@using X.PagedList;
@using X.PagedList.Mvc.Core;


@{
    ViewData["Title"] = "Lista registrovanih korisnika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IPagedList<ListOfCustomersVM>


<h1 class="text-center">Lista svih registrovanih korisnika</h1>


<div class="row">

    @{
        if (Model.Any())
        {
            foreach (var c in Model)
            {
                <div class="col-md-4 col-sm-4">


                    <div class="card m-3">
                        <div class="card-header text-center text-danger">@c.Firstname @c.LastName</div>

                        <div class="card-body text-center">
                            <img class="card-img-top" src="~/images/USER.png" style="width:100px" />


                        </div>

                        <div class="card-footer text-center">
                            <a href="/Administration/UserDetails?id=@c.Id" class="btn btn-primary">Detalji</a>
                            <a href="/Administration/SetForAdmin?id=@c.Id" class="btn btn-danger">Dodijeli admina</a>

                        </div>

                    </div>
                </div>


            }
        }

    }
</div>

@Html.PagedListPager(Model, page => Url.Action("ListOfCustomers", new { page}))
