@using X.PagedList;
@using X.PagedList.Mvc.Core;


@{
    ViewData["Title"] = "Lista administratora";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IPagedList<ListOfAdminsVM>
<style>
    .pagination-container {
        padding: 10px;
        margin: auto;
        width: 50%;
    }

        .pagination-container ul {
            width: 50%;
            margin: auto;
            background-color: dimgray;
            height: 55px;
        }

            .pagination-container ul li {
                font-size: 30px;
                margin: auto;
                background-color: gainsboro;
                height: 40px;
                margin-top: 10px;
                padding: 0 10px 2px 10px;
            }

                .pagination-container ul li a {
                    color: dimgray;
                    margin: auto;
                }
</style>


<h3 class="text-center">Lista svih administratora</h3>


<div class="row">

    @{
        if (Model.Any())
        {
            foreach (var c in Model)
            {
                <div class="col-md-4 col-sm-4">


                    <div class="card m-3">
                        <div class="card-header text-center text-danger">@c.Firstname @c.LastName</div>

                        <div class="card-body text-center">
                            <img class="card-img-top" src="~/images/USER.png" style="width:100px" />


                        </div>

                        <div class="card-footer text-center">
                            <a href="/Administration/AdminDetails?id=@c.Id" class="btn btn-primary">Detalji</a>
                            <a href="/Administration/RemoveAdmin?id=@c.Id" class="btn btn-danger">Ukloni admina</a>

                        </div>

                    </div>
                </div>


            }
        }
        else
        {
            <p class="text-center">Nema dostupnih administratora za prikaz!</p>
        }

    }
</div>

@Html.PagedListPager(Model, page => Url.Action("ListOfCustomers", new { page }))