
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <h3 style="position:center">Narudžba uspješno obrađena !</h3> <br />
    <a href="javascript:void(0)" onclick="location.href='/Administration/ShowOrders'">Nazad</a>