@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '5d0ac46b-cc60-4eea-8534-5aeaf7ee35fc', f: true }); done = true; } }; })();</script>

    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex @*flex-sm-row-reverse*@">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Show">Prikaz proizvoda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Show2">Kupovina</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="LookInCart">Pogledaj kosaricu</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        Odjavi se, @User.Identity.Name
                                    </button>

                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="Account" asp-action="Login">Prijavi se</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-area="" asp-controller="Account" asp-action="Register">Registruj se</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/lib/aspnet-signalr/signalr.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>




    <script>
        "use strict"

        $(document).ready(() => {
            let connection = new signalR.HubConnectionBuilder().withUrl("/notification").build();

            connection.on("OnMessageReceived", (message) => {
                console.log(message);

                toastr.options = {
                    "positionClass": "toast-bottom-right",
                    "timeOut": "5000"
                };

                toastr.info(message);
            });

            connection.start().then(() => console.log('SignalR connection started...')).catch(err => console.error(err));

            // Client side real time notification invoking
            //$('body').on('submit', '#DodajRadniList', ev => {
            //    ev.preventDefault();
            //    connection.invoke("SendNotification", `Uspjesno dodan radni list za dan ${new Date().toISOString().slice(0, 10)}`);
            //});
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
