
@{
    ViewData["Title"] = "SaveOrder";
}

@*<h1>SaveOrder</h1>*@

    <style>
        h3{
            color:maroon;
            text-align:center;
        }
    </style>
    <h3>Poštovani, narudžba je uspješno zaključena !</h3> <br />
 
       
