
@{
    ViewData["Title"] = "Zabranjen pristup";
}

<div class="text-center">
    <h1 class="text-danger">Pristup onemogućen</h1>
    <h6 class="text-danger">Nemate dozvolu da pristupite ovom izvoru</h6>
    <img  src="~/images/accesDenied.png" style="height:300px; width:300px;"/>

</div>

