
@{
    ViewData["Title"] = "AddManufactures";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<br />
<h1>Dodaj novog proizvođača</h1>
<br />

@using OnlineShop.ViewModels;

@model AddManufacturerVM


<form enctype="multipart/form-data" asp-action="SaveManufacturer" method="post">

    <input type="hidden" asp-for="productID" />

    <p>Naziv proizvođača</p>
    <div class="custom-file">
        <input class="form-control" type="text" asp-for="manufacturerName" />
        <br />
    </div>

    <p>Logo URL:</p>
    <div class="custom-file">
        <input asp-for="Image" class="form-control custom-file-input" value="@Model.Image" /><br />

        <label class="custom-file-label">Izaberi sliku</label>
    </div>
    <br />

    <input class="btn btn-primary" type="submit" value="Sačuvaj" />
</form>


