@using OnlineShopPodaci.Model;
@using OnlineShop.ViewModels;

@model List<ShowCategoriesVM>

<style>

    #maindiv {
        width: 25%;
        float: left;
        margin: 10px;
        padding: 0px;
        border-radius: 5px;
    }
      #maindiv:hover {
      opacity: 0.9;
     }
</style>


@foreach (var c in Model)
{
    <a href="/Product/ShowSubCategories?ID=@c.CategoryID">

    <div id="maindiv" class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/700x400" alt="">

            <div class="card-body">
                <h4 style="color:blue" class="card-title">
                    @c.CategoryName
                </h4>
            </div>
        </div>
    </div>
    </a>
}

