
@{
    ViewData["Title"] = "Dodaj novu poslovnicu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Dodaj novu poslovnicu</h4>

@model AddBranchVM


<form asp-action="SaveBranch" method="post">

    <div class="form-group">
        <label>Naziv poslovnice :</label>
        <input asp-for="branchName" class="form-control" required />
        @*<span asp-validation-for="branchName" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <label>Adresa :</label>
        <input asp-for="adress" class="form-control" required />
        @*<span asp-validation-for="branchName" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <label>Grad :</label>
        <select asp-for="cityID" asp-items="@Model._cities" class="form-control" required>
            <option>Odaberite grad</option>
        </select>
    </div>
    <a href="">Dodajte novi grad</a>
    <br />
    <br />

    <div class="form-group">
        <label>Broj telefona :</label>
        <input asp-for="phoneNumber" class="form-control" placeholder="061 000 000" required />
        @*<span asp-validation-for="branchName" class="text-danger"></span>*@
    </div>

    Radno vrijeme :<br />
    <input class="border" asp-for="open" placeholder="00:00"  required />  -  <input class="border" asp-for="close" placeholder="00:00" required />

    <br /><br />

    <input type="submit" class="btn btn-primary" value="Spremi" />
</form>

<style>
    .border{
        border-radius:6px;
        width:150px;
        text-align:center;
    }

</style>