
@{
    ViewData["Title"] = "nul";
}

@model AdminOptionsVM

<h5>Admin opcije</h5>

<input asp-for="productID" hidden />

<table>
    <tr>
        <td>Uredi proizvod</td>
        <td>
            <a id="quatity-@Model.productID" class="btn btn bg-info">Uredi</a>

            <script>

                $("#quatity-@Model.productID").click(function (event) {

                    $.get("/Product/AddProduct?ProductID=@Model.productID", function (rezultat, status) {

                            $("#divID").html(rezultat);
                        });
                   
                });

            </script>

        </td>
    </tr>

    <tr>
        <td>Izbriši proizvod</td>

        <td>
            <a class="btn btn-danger" href="/Product/Delete?ID=@Model.productID">Obrisi</a>

        </td>
    </tr>

</table>


