
@{
    ViewData["Title"] = "Lista poslovnica";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Prikaz svih poslovnica</h1>
<br />
@model List<ShowAllBranchesVM>
<style>
    #test {
        width: 42%;
        margin: auto;
        margin-bottom: 15px;
    }
</style>

<div id="test">

    <form method="get" asp-action="ShowAllBranches" asp-route-search="search">

        <p @ViewBag.ID />

        <input type="search" placeholder="Unesite grad ili naziv poslovnice" value="@ViewData["data"]" name="search" style="width:300px" />
        <input type="submit" class="btn btn-success" value="Pretraži" />

    </form>

</div>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv poslovnice</th>
            <th>Grad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.branchName</td>
                <td>@i.city</td>
                <td>
                    <a class="btn btn-primary" href="/Branch/ShowProductsInBranch?branchID=@i.branchID">Detalji</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<br /><br />

@*<a class="btn btn-primary" href="/Branch/AddBranch">Dodaj poslovnicu</a>*@
